---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingCard from "@components/pricing.astro";

const pricing = [
  {
    name: "Starter",
    price: "From $1,999",
    popular: false,
    features: [
      "Professional Website Development",
      "Basic SEO Optimization",
      "Mobile Responsive Design",
      "Contact Form Integration",
      "Social Media Integration",
      "3 Months Support",
    ],
    button: {
      text: "Get Started",
      link: "/contact",
    },
  },
  {
    name: "Business Growth",
    price: "From $4,999",
    popular: true,
    features: [
      "All Starter Features",
      "E-commerce Integration",
      "Digital Advertising Setup",
      "Sales Network Development",
      "Content Marketing Strategy",
      "6 Months Priority Support",
    ],
    button: {
      text: "Get Started",
      link: "/contact",
    },
  },
  {
    name: "Enterprise",
    price: "Custom",
    popular: false,
    features: [
      "All Business Growth Features",
      "Business Model Optimization",
      "Custom Software Development",
      "Advanced Analytics & Reporting",
      "Dedicated Digital Strategist",
      "12 Months Premium Support",
    ],
    button: {
      text: "Contact us",
      link: "/contact",
    },
  },
];
---

<Layout title="Pricing">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Our Service Packages</Fragment>
      <Fragment slot="desc">
        Tailored digital transformation solutions for businesses of all sizes.
      </Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-(--breakpoint-lg) mt-12">
      {pricing.map((item) => <PricingCard plan={item} />)}
    </div>
  </Container>
</Layout>
